<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="icon-speedometer"></i> Dashboard
        <span class="badge badge-primary">NEW</span>
      </a>
    </li>
    <li class="nav-title">
      Category
    </li>
    <li class="nav-item nav-dropdown" appNavDropdown>
      <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle>
        <i class="icon-puzzle"></i> Base</a>
      <ul class="nav-dropdown-items">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="icon-puzzle"></i> Breadcrumb</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="icon-puzzle"></i> Cards</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>